html,
body {
    margin: 0 !important;
    padding: 0 !important;
    background: #000000;
}

canvas {
    background: url("/assets/grass.jpg");
    background-repeat: repeat;
    background-position: 100 100;
    background-size: auto auto;
    display: block;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}
